# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media/

# If you are using MySQL or PostgreSQL:
*.db

# Static and media files
/staticfiles
/media

# Virtual environment
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store
