{% extends 'reviews/base.html' %}

{% block title %}Confirmer la suppression{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Confirmer la suppression</h5>
                        <p class="card-text">Êtes-vous sûr de vouloir supprimer cet élément : <strong>{{ object }}</strong> ?</p>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-danger">Supprimer</button>
                                <a href="{% url 'user_posts' %}" class="btn btn-secondary">Annuler</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
