{% extends 'reviews/base.html' %}

{% block title %}Demander une critique{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Demander une critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Titre</label>
            <input type="text" class="form-control" name="title" maxlength="128" required id="id_title">
        </div>
        <div class="form-group">
            <label for="id_description">Description</label>
            <textarea name="description" class="form-control" rows="4" id="id_description"></textarea>
        </div>
        <div class="form-group">
            <label for="id_image">Image</label>
            <input type="file" class="form-control" name="image" id="id_image">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock %}
