{% extends 'reviews/base.html' %}

{% block title %}Créer un Ticket{% endblock %}

{% block content %}
<h1>Créer un ticket</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Titre</label>
    <input type="text" id="title" name="title" required><br>

    <label for="description">Description</label>
    <textarea id="description" name="description" required></textarea><br>

    <label for="image">Image</label>
    <input type="file" id="image" name="image"><br>

    <button type="submit">Envoyer</button>
</form>
{% endblock %}
