{% extends 'reviews/base.html' %}

{% block title %}Modifier la Critique{% endblock %}

{% block content %}
<h1>Modifier votre critique</h1>
<form method="post">
    {% csrf_token %}
    <label for="headline">Titre</label>
    <input type="text" id="headline" name="headline" value="{{ review.headline }}" required><br>

    <label for="body">Commentaire</label>
    <textarea id="body" name="body" required>{{ review.body }}</textarea><br>

    <label for="rating">Note</label>
    <select id="rating" name="rating">
        <option value="0" {% if review.rating == 0 %}selected{% endif %}>0</option>
        <option value="1" {% if review.rating == 1 %}selected{% endif %}>1</option>
        <option value="2" {% if review.rating == 2 %}selected{% endif %}>2</option>
        <option value="3" {% if review.rating == 3 %}selected{% endif %}>3</option>
        <option value="4" {% if review.rating == 4 %}selected{% endif %}>4</option>
        <option value="5" {% if review.rating == 5 %}selected{% endif %}>5</option>
    </select><br>

    <button type="submit">Envoyer</button>
</form>
{% endblock %}
