{% extends 'reviews/base.html' %}

{% block title %}Suivre des Utilisateurs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Suivre des utilisateurs</h1>
    <form method="post" class="mb-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    <h2>Abonnements</h2>
    <ul class="list-group mb-4">
        {% for follow in following %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ follow.followed_user.username }}
                <a href="{% url 'unfollow_user' follow.id %}" class="btn btn-danger btn-sm">Désabonner</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Abonnés</h2>
    <ul class="list-group">
        {% for follow in followers %}
            <li class="list-group-item">
                {{ follow.user.username }}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
