{% extends 'reviews/base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<h1>Bienvenue sur LITReview</h1>

<h2>Demandes de critiques</h2>
{% for ticket in tickets %}
    <div>
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}" style="max-width: 100px;">
        {% endif %}
        <p>Posté par {{ ticket.user.username }} le {{ ticket.time_created }}</p>
        {% if not ticket.has_review %}
            <a href="{% url 'respond_to_ticket' ticket.id %}">Répondre à cette demande</a>
        {% else %}
            <p>Critique déjà faite</p>
        {% endif %}
    </div>
{% endfor %}

<h2>Critiques</h2>
{% for review in reviews %}
    <div>
        <h2>{{ review.headline }} - {{ review.rating }} étoiles</h2>
        <p>{{ review.body }}</p>
        <p>Posté par {{ review.user.username }} le {{ review.time_created }}</p>
        {% if review.ticket %}
            <p>En réponse à la demande : {{ review.ticket.title }}</p>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
