{% extends 'reviews/base.html' %}

{% block title %}Vos Posts{% endblock %}

{% block content %}
<h1>Vos posts</h1>
<div>
    <h2>Vos tickets</h2>
    {% for ticket in user_tickets %}
        <div>
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.description }}</p>
            <img src="{{ ticket.image.url }}" alt="{{ ticket.title }}">
            <p>{{ ticket.time_created }}</p>
            <a href="{% url 'edit_ticket' ticket.id %}">Modifier</a>
            <form method="post" action="{% url 'delete_ticket' ticket.id %}">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
            </form>
        </div>
    {% endfor %}
</div>
<div>
    <h2>Vos critiques</h2>
    {% for review in user_reviews %}
        <div>
            <h3>{{ review.headline }} - {{ review.rating }} étoiles</h3>
            <p>{{ review.body }}</p>
            <p>{{ review.time_created }}</p>
            <a href="{% url 'edit_review' review.id %}">Modifier</a>
            <form method="post" action="{% url 'delete_review' review.id %}">
                {% csrf_token %}
                <button type="submit">Supprimer</button>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}
